.post{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .container{
        max-width: 700px;
        width: 100%;
        padding: 25px 30px;
        .tittle{
            text-align: center;
            position: relative;
            h1{
                font-size: 24px;
                font-weight: 600;
            }
        }
        form{
            margin-top: 35px;
            .user{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 35px;
                .space{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    label{
                        font-weight: 500;
                        font-size: 14px;
                    }
                    input,select{
                        padding: 10px;
                        border-radius: 6px;
                        border: 1px solid #B6C6D8;
                        &:focus-visible{
                            border: 1px solid #B6C6D8;
                            outline: none;
                        }
                    }
                }
            }
            .description{
                margin: 35px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                label{
                    font-weight: 500;
                    font-size: 14px;
                }
                textarea{
                    padding: 10px;
                    border-radius: 6px;
                    resize: none;
                    border: 1px solid #B6C6D8;
                    &:focus-visible{
                        border: 1px solid #B6C6D8;
                        outline: none;
                    }
                }
            }
            .submit-btn{
            margin: 0 auto;
            display: flex;
            color: white;
            background-color: $primary-color;
            padding: 8px 25px;
            border: none;
            border-radius: 6px
            }
        }

    }
}