.setting{
    .profile{
        margin-left:50px;
        font-weight: 700;
        font-size: 32px;
        line-height: 60px;
        color: rgba(25, 25, 25, 0.67);
        .enter{
            margin-top: 40px;
            width: 65px;
            height: 65px;
        }
        .hair{
            margin-top: 35px;
            padding: 16px;
            .user{
                color: #414A4C;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
            }
            .user-btn{
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #557100;
            }
        }
    }
    .sett-htm{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 1000px;
        height: 688px;
        .profile{
            display: flex;
            flex-direction: row;
        }
        .inputfield{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .text-btn{
                margin-left:50px;
                font-weight: 400;
                font-size: 18px;
                color:#414A4C;
            }
            .search{
                margin-right: 40px;
                width: 725px;
                height: 40px;
            }
        }
        .laptop{
            margin-left: 200px;
            margin-top: 50px;
            .set-htm{
                width: 646px;
                height: 48px;
                background: #9AB200;
                border-radius: 6px;
                border: none;
                .set-htn{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    align-items: center;
                    color: #E4E5E7;
                }
            }
        }
    }
    
}