<%- include("../components/head") %>
<body>
    <%- include("../components/dashboard/sidebar") %>
    <main>
        <%- include("../components/dashboard/navbar") %>
        <div class="post">
           <div class="container">
            <div class="tittle">
                <h1>Post</h1>
            </div>
            <form id="productForm"  enctype="multipart/form-data">
                <div class="user">
                    <div class="space">
                        <label for="">Product name</label>
                        <input id="productname" type="text" placeholder="Enter product name">
                    </div>
                    <div class="space" >
                        <label for="">Category</label>
                        <Select placeholder ="Vegetable" id="category">
                            <option value="Vegetable">Vegetable</option>
                            <option value="Fruits">Fruits</option>
                            <option value="Cash crops">Cash crops</option>
                            <option value="Food crops">Food crops</option>
                            <option value="Dairy">Dairy</option>
                            <option value="Non-veg">Non-veg</option>
                        </Select>
                        
                    </div>
                    <div class="space">
                        <label for="">Price</label>
                        <input id="price" type="text" placeholder="Enter price">
                    </div>
                    <div class="space">
                        <label for="">Vitamins</label>
                        <input id="vitamins" type="text" placeholder="C">
                    </div>
                    <div class="space">
                        <label for="">Calories</label>
                        <input id="calories" type="text" placeholder="41">
                    </div>
                    <div class="space">
                        <label for="">Soil</label>
                        <input id="soil" type="text" placeholder="sand">
                    </div>
                    <div class="space">
                        <label for="">Origin</label>
                        <input id="origin" type="text" placeholder="Dang">
                    </div>
                    <div class="space">
                        <label for="">Shell life</label>
                        <input id="shelflife" type="text" placeholder="15 days">
                    </div>
                    <div class="space">
                        <label for="">Availability</label>
                        <select palceholder="Yes" id="availability">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Quality</label>
                        <select palceholder="A" id="quality">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Size</label>
                        <select palceholder="Small" id="size">
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Growm</label>
                        <select palceholder="locally" id="grown">
                            <option value="Locally">Locally</option>
                            <option value="Imported">Imported</option>
                            <option value="Greenhouse Grown">Greenhouse Grown</option>
                            <option value="Industrail Grown">Industrail Grown</option>
                        </select>
                    </div>
                </div>
                <div class="description">
                    <label for="">Description</label>
                    <textarea id="description" type="text"></textarea>
                </div>
                <input type="file" class="file" id="productImg" name="productImg">
                <img id="previewImage" src="#" alt="" class="preview">
                <button class="submit-btn" id="PostBtn" type="button" name="" value="">
                    <div id="loading2" class="loading" style="display: none;"></div>
                    <span id="noloading2" style="display: block;">Submit</span>
                </button>
            </form>
           </div>
        </div>
    </main>
</body>
<script src="/js/dashboard/index.js"></script>
<script src="/js/toast.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  // Get the file input element
  const fileInput = document.getElementById('productImg');

  // Add a change event listener to the file input
  fileInput.addEventListener('change', (event) => {
    // Get the selected file
    const selectedFile = event.target.files[0];

    // Create a URL for the selected file
    const previewUrl = URL.createObjectURL(selectedFile);

    // Set the src attribute of the img tag to the preview URL
    const previewImage = document.getElementById('previewImage');
    previewImage.src = previewUrl;
  })
    $("#PostBtn").on("click",(e)=>{
        e.preventDefault();
        $('#noloading').hide();
        $('#loading').show();
        $("#PostBtn").prop('disabled', true);

        var formData = new FormData()

        var productname=$("#productname").val()
        var categorySelect = document.getElementById("category");
        var category = categorySelect.options[categorySelect.selectedIndex].value;
        var qualitySelect = document.getElementById("quality")
        var quality = qualitySelect.options[qualitySelect.selectedIndex].value;
        var sizeSelect = document.getElementById("size")
        var size = sizeSelect.options[sizeSelect.selectedIndex].value;
        var grownSelect= document.getElementById("grown")
        var grown = grownSelect.options[grownSelect.selectedIndex].value;
        var vitamins = $("#vitamins").val()
        var calories = $("#calories").val()
        var price = $("#price").val()
        var soil= $("#soil").val()
        var origin = $("#origin").val()
        var description = $("#description").val()
        var productImage = $("#productImg").prop('files')[0];
        var shelflife = $("#shelflife").val()
        var availabilitySelect= document.getElementById("availability")
        var availability = availabilitySelect.options[availabilitySelect.selectedIndex].value;

        formData.append('productname', productname)
        formData.append('category', category)
        formData.append('quality', quality)
        formData.append('size', size)
        formData.append('grown', grown)
        formData.append('vitamins', vitamins)
        formData.append('calories', calories)
        formData.append('price', price)
        formData.append('soil', soil)
        formData.append('origin', origin)
        formData.append('description', description)
        formData.append('shelflife', shelflife)
        formData.append('availability', availability)
        formData.append('productImg', productImage)

        if (productImage==undefined || productname=="" || price==""){
                $('#PostBtn').prop('disabled', false);
                $('#loading').hide();
                $('#noloading').show();
                return Toast.fire({
                    title: 'Error!',
                    text: 'Please Provide product name,price and image',
                    icon: 'error',
                    })
            }

    console.log(productname,category,quality,size,grown, vitamins ,calories,soil,origin,description, productImage,shelflife,availability)
    console.log(...formData)

    return fetch('/dashboard/post',{
        method: 'POST',
        body:formData
    }).then(res=>res.json())
            .then(data=>{
                if(data.title == 'failure'){
                $('#PostBtn').prop('disabled', false);
                $('#loading').hide();
                $('#noloading').show();

                return Toast.fire({
                    title: 'Error!',
                    text: 'Something went wrong',
                    icon: 'error',
                    })
                }   
                if(data.title == 'success'){
                    Toast.fire({
                        title: 'Success!',
                        text: 'Product posted successfully',
                        icon: 'success',
                    }).then(() => {
                        location.reload()
                    })
                
            }
            })
  })
</script>

</html>