<%- include("../components/head") %>
<body>
    <%- include("../components/dashboard/sidebar") %>
    <main>
        <%- include("../components/dashboard/navbar") %>
        <div class="post">
           <div class="container">
            <div class="tittle">
                <h1>Post</h1>
            </div>
            <form action="">
                <div class="user">
                    <div class="space">
                        <label for="">Product name</label>
                        <input type="text" placeholder="Enter product name">
                    </div>
                    <div class="space">
                        <label for="">Category</label>
                        <Select placeholder ="Vegetable">
                            <option value="">Vegetable</option>
                        </Select>
                        
                    </div>
                    <div class="space">
                        <label for="">Price</label>
                        <input type="text" placeholder="Enter product name">
                    </div>
                   <div class="space">
                        <label for="">Quality</label>
                        <select palceholder="A">
                            <option value="">A</option>
                            <option value="">B</option>
                            <option value="">C</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Size</label>
                        <select palceholder="Small">
                            <option value="">Small</option>
                            <option value="">Medium</option>
                            <option value="">Large</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Growm</label>
                        <select palceholder="locally">
                            <option value="">locally</option>
                            <option value="">Medium</option>
                            <option value="">Large</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Vitamins</label>
                        <input type="text" placeholder="C">
                    </div>
                    <div class="space">
                        <label for="">Calories</label>
                        <input type="text" placeholder="41">
                    </div>
                    <div class="space">
                        <label for="">Soil</label>
                        <input type="text" placeholder="sand">
                    </div>
                    <div class="space">
                        <label for="">Origin</label>
                        <input type="text" placeholder="sand">
                    </div>
                    <div class="space">
                        <label for="">Avability</label>
                        <select palceholder="locally">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    <div class="space">
                        <label for="">Shell</label>
                        <input type="text" placeholder="15 days">
                    </div>
                    <div class="description">
                        <label for="">Description</label>
                        <input type="text">
                    </div>
                </div>
                <div class="butoon">
                    <input type="Submit">
                </div>
            </form>
           </div>
        </div>
    </main>
</body>
</html>