<%- include("../components/head") %>
<body>
    <%- include("../components/dashboard/sidebar") %>
    <main>
        <%- include("../components/dashboard/navbar") %>
            <div class="setting">
                <h3 class="header">Setting</h3>
                <div class="sett-htm">
                    <div class="profile">
                        <img src="/image/Group 1000005216.svg" alt="profile-img" class="enter">
                        <div class="hair">
                            <h3 class="user">Bhunti delete</h3>
                            <h4 class="user-btn">Change profile picture</h4>
                        </div>
                    </div>
                    <div class="inputfield">
                        <label for=""class="text-btn">Email</label>
                        <input class="search" type="text" value="">
                    </div>
                    <div class="inputfield">
                        <label for=""class="text-btn">Name</label>
                        <input class="search" type="text" value="">
                    </div>
                    <div class="inputfield">
                        <label for=""class="text-btn">Phone Number</label>
                        <input class="search" type="text" value="">
                    </div>
                    <div class="inputfield">
                        <label for=""class="text-btn">Language</label>
                        <input class="search" type="text" value="">
                    </div>
                    <div class="laptop">
                        <button class="set-htm">
                        <span class="set-htn">change</span>
                        </button>
                    </div>
                    
                </div>
            </div>
    </main>
</body>