<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<div class="dashboard-navbar">
    <div class="nav-items">
        <div class="items">
            <div class="profile drop-menu" >
                <a href="#" class="profile-pic" onclick="dropdown()">
                    <img src="/styles/images/profile.png" alt="">
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                <div class="dropdown">
                    <div class="profile-img">
                        <img src="/styles/images/profile.png" alt="">
                        <div class="name">
                            <h5><%=user.name %></h5>
                            <p title="ro45@gmail.com"><%=user.email %></p>
                        </div>
                    </div>
                    <div class="profile-setting">
                        <a href="" class="profile-items">
                            <i class="fa-solid fa-gear"></i>
                            Account Settings
                        </a>
                    </div>
                    <div class="profile-setting">
                        <a href="/logout" class="profile-items">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

