<%- include("../components/head") %>
<body>
    <div class="body-wrapper">
        <%- include("../components/header") %>
        
        <div class="bg">
        </div>
          
         <!-- hero section -->
         <section class="hero container">
             <div class="hero-text">
                 <h1><span>Revolutionize</span><br>your farm management.</h1>
                 <p>Get all the information about your favorite agricultural products, connect with local farmers and buy fresh produce directly from the source.</p>
                 <a href="/register" class="home-btn">Get Started</a>
             </div>
         </section>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>