<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <title>Home page</title>
</head>
<body>
    <nav>
        <label class="logo"><img src="/image/logo.png" alt="AIMS image"></label>
        <ul>
            <li><a  href="">Home</a></li>
            <li><a  href="">Products</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Resister</a></li>
        </ul>

    </nav>
    <div class="picture">
        <img src="/image/Group 4035.png" alt="logo">
    </div>
    
    <div class="main">
        <h1 class="first">Revolutize</h1>
        <h1 class="second">Your Farm </h1>
        <h1 class="second">Management</h1>
        <p>Get all the information about your favorite agricultural products, connect with local farmers and buy fresh produce directly from the source.</p>
        <button class="btn">Get Started</button>
    </div>
</body>
</html>