<%- include("../components/head") %>
<body>
    <%- include("../components/header") %>
    
    <main>
       <div class="product">
         <span>Product</span>
         <div class="serach">
            <input type="text">
            <div class="button"><input type="submit" value="Search"></div>
         </div>
        </div>
        <section id="vegetable" class="content-wrapper active">
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
        </section>

        <section id="fruits" class="content-wrapper">
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Apple</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
        </section>

        <section id="cash-crops" class="content-wrapper">
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Sugar Cane</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
        </section> 

        <section id="food-crops" class="content-wrapper">
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Wheat</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
        </section>

        <section id="dairy" class="content-wrapper">
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Milk</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
        </section>

        <section id="non-veg" class="content-wrapper">
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Meat</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/styles/images/vegetable.png" alt="">
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="title">
                            <h3>Mushroom</h3>
                            <p>Farmer: Bhim magar</p>
                        </div>
                        <p class="price">Nrs: 50<span>/kg</span></p>
                    </div>
                    <p class="quantity">Quantity: 200kg available</p>
                    <button class="details-btn">View details</button>
                </div>
            </div>
        </section>

    </main>
</body>
</html>