<%- include("../components/head") %>
<body>
    <%- include("../components/header") %>
    <section class="container product-wrapper">
        <div class="productinfo">
           <div class="product1">
            <div class="product">
                <h2>Carrot</h2>
                <img src="/image/image.jpg" alt="productinfo">
            </div>
            <div class="text">
               <div class="kxa">
                <p class="hi">Owners</p>
                <p>Price</p>
                <p>Quality</p>
                <p>Size</p>
                <p>Growns</p>
                <p>Vitamins</p>
                <p>Calories</p>
                <p>Soil</p>
                <p>Origin</p>
                <p>Availability:</p>
                <p>Shelf Life</p>
               </div>
               <div class="timi">
                <p class="hello">Bhunti</p>
                <p class="red">Rs50</p>
                <p>A</p>
                <p>large</p>
                <p>locally</p>
                <p>C</p>
                <p>41</p>
                <p>Drained</p>
                <p>Dang</p>
                <p>Yes</p>
                <p>15days</p>
               </div>
            </div> 
           </div>
           <div class="button">
            <button class="hi-btn"><span class="me-btn">Message Farmer</span></button>
           </div>
           <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut porro necessitatibus quisquam architecto ad. Vitae adipisci, nostrum quaerat eaque odit recusandae, qui officiis architecto ratione accusantium temporibus dicta debitis.</p>
           </div>
        </div>
    </section>
</body>
</html>