<%- include("../components/head") %>
<body>
    <%- include("../components/header") %>
    <section class="container product-wrapper">
        <div class="productinfo">
            <h2>Carrot</h2>
            <div class="product">
                <img src="/image/image.jpg" alt="productinfo">
            </div>
        </div>
    </section>
</body>
</html>