<%- include("../components/head") %>
<body>
    <%- include("../components/header") %>
    <section class="container product-wrapper">
    <h3>Product information page</h3>
    </section>
</body>
</html>