.productinfo-wrapper{
    margin-top: 130px;
    margin-bottom: 40px;
    h1{
        font-weight: 600;
        font-size: 30px;
        color: #595959;
        margin-bottom: 30px;
    }
    .product-details{
        display:flex;
        justify-content: space-between;
        .product-img{
            border-radius:15px;
            overflow: hidden;
            width: 630px;
            height: 450px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        table{
            width:400px;
            .owners-info{
                td{
                    font-weight:bold;

                }
            }
            .price-info{
                .price{
                    color: #FF1E1E;
                }
            }
        }
    }

    .button{
        margin-top: 50px;
        margin-bottom: 10px;
        .hi-btn{
            width: 150px;
            height: 47px;
            background-color: #F8FAFE;
            border: 1px solid #557100;
            border-radius: 20px;
            .me-btn{
                color: #557100;
                justify-content: center;
            }
        }
        
    }
    .description{
        margin-top: 30px;
        font-weight: 400;
        font-size: 16.1625px;
        line-height: 24px;
        text-align: justify;
        letter-spacing: 0.035em;
        p{
            color: black;
        }
    }
}
.swal2-container{
    .swal2-confirm{
        background-color: #557100;
    }
}