.product-wrapper{
    display: flex;
    margin-top: 100px;
    align-items: baseline;
    gap: 90px;
    position: relative;
    .tabs{
        position: sticky;
        top: 20px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        gap: 20px;
        width: 180px;
        .tabs-btn{
            width: 100%;
            flex: 0;
        }
    }
    .product{
        width: 100%;
        .search-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size:28px;
                color: #557100;
                font-weight: 700;
            }
            .search{
                position: relative;
                input{
                    border: 1px solid #557100;
                    border-radius: 30px;
                    padding:10px 60px 10px 20px;
                    width: 250px;
                    &:focus-visible{
                        outline: none;
                    }
                }
                .search-btn{
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: none;
                    height: 100%;
                    background: #557100;
                    border-radius: 0 50% 50% 0;
                    width: 50px;
                }
            }
        }
        .content-wrapper{
            margin-top: 30px;
            gap: 30px;
            .p-item{
                width:300px !important;
                .img{
                    width: 100% !important;
                }
            }
        }
    }
}