.registor-logo{
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 30px 40px;
    justify-content: space-between;
    p{
        font-size: 14px;
        color: #414A4C;
        a{
            color :$primarycolor;
        }
    }
}

.registor{
    display: flex;
    align-items: center;
    height: 100vh;
    .registor-info{
        width: 50%;
        display: grid;
        place-content: center;
        .registor-field{
            width: 410px;
            .heading1{
                margin-top: 250px;
                display: flex;
                gap: 3px;
                align-items: center;
                justify-content: center;
                h2{
                    font-size: 28px;
                    font-weight: 700;
                    color: #414A4C;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            p{
                margin-top: 10px;
                text-align: center;
                color: #7E7E7E;
            }
            form{
                margin-top: 25px;
                .form-input{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;
                    margin-top: 10px;
                    label{
                        font-size: 14px;
                        color: #414A4C;
                        margin-bottom: 10px;
                    }
                    input{
                        border: 1px solid #BECAE3;
                        border-radius: 5px;
                        padding: 10px;
                        width: 100%;
                        &:focus-visible{
                            outline: none;
                        }
    
                        &::placeholder{
                            color:#7E7E7E;
                            color: 13px;
                        }
                    }
                    &:nth-child(2){
                        margin-bottom: 0;
                    }
                }
                .password div{
                    position: relative;
                    img{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .submit{
                    color: white;
                    background-color: #9AB200;
                    width: 100%;
                    padding: 13px 24px;
                    border-radius: 5px;
                    border:none;
                    margin-top: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .loading{
                        width: 21px;
                        height: 21px;
                        border: 4px solid #fff;
                        border-radius: 50%;
                        border-top: 4px solid #9AB200;
                        animation: spin 2s infinite linear;
                      }
                      
                      @keyframes spin {
                       to{
                        transform: rotate(360deg);
                       }
                    }
                }
            }
        }
    }
    .registor-side-img{
        width: 50%;
        height:146%;
        background: url('/styles/images/vegetables.jpg') no-repeat;
        background-size: cover;
        display: fixed;
        align-items: end;
        justify-content: center;
        padding-bottom: 50px;
        .registor-quote{
            background: linear-gradient(93.47deg, rgba(255, 255, 255, 0.1) -64.57%, rgba(0, 0, 0, 0) 122.55%);
            backdrop-filter: blur(14px);
            padding: 30px;
            width: 90%;
            border-radius: 10px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background: url('/styles/images/quotation.svg') no-repeat;
                background-size: cover;
                width: 90px;
                height: 90px;
                top: -45%;
            }
            p{
                color: white;
                font-size: 16px;
                line-height: 26px;
            }
            .registor-author{
                margin-top: 16px;
            }
        }
    }
}
